.header_container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 82.5rem;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 900;
}
.section_name {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.section_name h2{
    font-family:"Roboto", sans-serif;
    font-weight: 900;
}

.search_input input {
    width: 15rem;
    height: 3rem;
    border-radius: 9px;
    border: 1px solid white;
    background-color: #80808066;
    padding: 1rem;

    background-color: #80808066;
    padding: 1rem;
}

.navbar_list {
    display: flex;
    list-style: none;
    gap: 3rem;
    font-family: "Roboto", sans-serif;
}

.dropdown-toggle,
.menu_exit {
    display: none;
}


/*------------------------------------------------queries-----------------------------------*/


/*teléfonos móviles */
@media (max-width: 624px) {
    .navbar {
        display: flex;
        align-items: center;
        width: 90%; 
        margin: 0 auto;
        gap: 1rem;
    }
    .section_name h2 {
        display: flex;
        margin: 0px;
        align-items: center;
    }
    .section_name{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    .search_input input{
        width: 100%;
    }
}
/* tabletas */
@media (min-width: 625px) and (max-width: 1024px) {
    .header_container{
        width: 80%;
        margin: 0 auto;
    }
    .navbar {
        justify-content: space-between;
        width: 100%; 
        margin: 0 auto;
    }
    .search_input input{
        width: 20rem;
    }
}

@media (max-width: 900px) {
    .dropdown-toggle {
        display: block;
    }

    .menu_exit {
        display: block;
    }

    .section_navbar {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        opacity: 0px;
        visibility: hidden;
        top: 0px;
        right: 0px;
        background-color: black;
        padding: 2rem;
        bottom: 0px;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);
        color: white;
    }
    .navbar_list {
        flex-direction: column;
        align-items: end;
    }
}

/* computadoras de escritorio */
@media  (min-width: 1025px) and (max-width: 1440px)  {
    .header_container{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 70rem;
    }
}