.small_banner {
    display: grid;
    position: relative;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "box1 box1 box4 box4"
        "box2 box3 box4 box4";
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
    background-color: yellow;
}

.box3 {
    grid-area: box3;
    background-color: blueviolet;
}

.box4 {
    grid-area: box4;
    background-color: green;
}


/*movil */
@media (min-width: 320px) and (max-width: 624px) {

    .small_banner {
        position: relative;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4";
    }
}

/*Box 1*/
.box1 {
    grid-area: box1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.box1_title {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box1_paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: gray;
}

/*Box 2*/
.box2 {
    grid-area: box2;
    background-color: rgb(42, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.box2_title {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box2_paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: gray;
}

/*Box 3*/
.box3 {
    grid-area: box3;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.box3_title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box3_paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: gray;
    width: 90%; 
    margin: 0 auto;
}

/*Box 4*/
.box4 {

    grid-area: box4;
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.box4_title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.box4_paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: gray;
    padding-bottom: 1rem;
    width: 90%; 
    margin: 0 auto;
}

/* tablet */
@media (min-width: 625px) and (max-width: 1024px) {
    .small_banner {
        position: relative;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "box2 box2 "
            "box2 box2 "
            "box1 box1"
            "box3 box4";
    }
}

/*escritorio */
@media (min-width: 1025px) {}

@media (max-width:1440px) {}