/*Button 1*/
.buttons0 {
    padding: 1rem;
    border-radius: 12px;
    width: 17rem;
    font-size: 2rem;
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid white;
    cursor: pointer;
}
.buttons0 a{
    color: white;
    list-style: none;
    text-decoration: none;
}

/*Button 2*/

.buttons1 {
    padding: 1rem;
    border-radius: 12px;
    width: 24rem;
    background-color: black;
    cursor: pointer;
}
.buttons1 a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

/*Button 3*/

.buttons3 {
    padding: 1.5rem 0rem 1.5rem 0rem;
    border-radius: 12px;
    width: 17rem;
    background-color: black;
    cursor: pointer;
}
.buttons3 a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}