.container_detail {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 82.5rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    border-top-style: groove;
}
.color_black {
    background-color: black;
}
.color_board {
    background-color: blueviolet;
}
.color_red {
    background-color: red;
}
.color_yellow {
    background-color: yellow;
}
.color_white {
    background-color: rgb(193, 193, 193);
}
.color_container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.color_container h4 {
    font-size: 1.5rem;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}
.color_grup {
    display: flex;
    gap: 1rem;
}
.color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.detail_title {
    font-family: 'Roboto';
    font-size: 4rem;
    
}
.detail_price {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.detail_info {
    padding-top: 2rem;
    font-family: 'Roboto';
    font-size: 1.5rem;
    color: rgb(165 165 165);
    padding-bottom: 2rem;
}
.flex_tabs{
    display: flex;
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}
.category_card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.article_detail{
    display: flex;
}
.img_detail {
    display: flex;
    flex-direction: row-reverse;
    gap: 4rem;
}
.detail_product {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}
.img01{
    width: 20rem;
}
.section_info {
    background-color: rgb(238 238 238);
}
.characteristic_product {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 82.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.background_c {
    background-color: white;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.character_header {
    padding-bottom: 2rem;
}
.character_title{
    padding-bottom: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
}
.character_paragraph{
    font-family: "Roboto", sans-serif;
    color: gray;
}
.tr_table {
    font-family: "Roboto",sans-serif;
    display: flex;
    align-items: center;
    align-content: center;
    width: 75rem;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 0rem;
}
