.big_banner {
    margin-top: 5rem;
}

.banner_items {
    display: flex;
}

.product_item {
    width: 100%;
    height: 640px;
    background-color: brown;

}


/*móviles */
@media (max-width: 624px) {
    .banner_items {
        display: flex;
        flex-direction: column;
    }
}

/* tabletas */
@media (min-width: 625px) and (max-width: 1024px) {
    .banner_items {
        display: flex;
        flex-direction: column;
    }
}

/*computadoras de escritorio */
@media only screen and (min-width: 1025px) {
    /* Agrega aquí los estilos específicos para pantallas grandes */
}