.page_product{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 82.5rem;
}
.page_container{
    padding: 4rem 0rem 0rem 0rem;
    border-top: groove;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
.sidebar{
    /* grid-area: sidebar; */
    padding: 0rem 2rem 0rem 0rem;
    grid-row: span 5 / span 5;
}
.box_1 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
}
.prod_container {
    grid-area: box_1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    flex-wrap: wrap;
}
.style_products {
    padding: 1.5rem 1rem 1.5rem 1rem;
    background-color: rgb(241 241 241);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.img_pro img {
    width: 100%;
}
.container_text {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 1025px) and (max-width:1440px) {
    .page_product{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 70rem;
    }
}