.page_product{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
}
.page_container{
    display: grid; 
    padding: 4rem 0rem 0rem 0rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    grid-template-areas: 
    "sidebar header_product header_product header_product"
    "sidebar box_1          box_2          box_3    ";
}
.sidebar{
    grid-area: sidebar;
}
.header_product{
    grid-area: header_product;
}
.box_1{
    grid-area: box_1;
}
.box_2{
    grid-area: box_2;
}
.box_3{
    grid-area: box_3;
}