.banner_img {
    height: 54rem;
}

.background_banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100rem;
}

.button {
    padding: 1rem;
    border-radius: 12px;
    width: 17rem;
    font-size: 2rem;
    background-color: rgb(0 0 0 / 0%);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.section_title {
    color: white;
}

.background_banner p {
    font-size: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.banner_container {
    background-color: #2e2f3d;
}

/*queries*/

/* @media (max-width:768px) {
    .background_banner {
        margin-left: auto;
        margin-right: auto;
        max-width: 100rem;
    }
} */



/* teléfonos móviles */
@media (max-width: 600px) {
    .background_banner{
        display: flex;
        flex-direction: column;
    }
}

/* tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
    .background_banner{
        display: flex;
        flex-direction: column;
    }
}

/*computadoras de escritorio) */
@media  (min-width: 1025px) {
    .background_banner{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 100rem;
    }
}

@media (max-width:1440px) {
    .background_banner {
        max-width: 70rem;
    }
}